# SQLite

In [1]:
import sqlite3

* DB 접속

In [3]:
conn = sqlite3.connect('./test.db')

* 테이블 생성

In [9]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
                (back_no INT NOT NULL, \
                name TEXT, \
                position TEXT, \
                hands TEXT, \
                highschool TEXT,\
                height INT, \
                PRIMARY KEY(back_no));')

* 테이블 삭제

In [7]:
cur.execute('DROP TABLE Eagles')

* 데이터 삽입

In [10]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles('back_no', 'name', 'position') \
                VALUES(30, '호잉', '외야수');")

In [11]:
conn.commit()

In [13]:
import pandas as pd
players = pd.read_csv('data/players.csv', encoding='EUC-KR')
players

   back_no name position hands highschool  height
0       17  김범수       투수  좌투좌타      천안북일고     181
1       38  안영명       투수  우투우타      천안북일고     183
2       36  장민재       투수  우투우타      광주제일고     184
3       13  최재훈       포수  우투우타        덕수고     178
4       52  김태균      내야수  우투우타      천안북일고     185
5        7  송광민      내야수  우투우타        공주고     184
6       50  이성열      내야수  우투좌타      순천효천고     185
7       43  정은원      내야수  우투좌타        인천고     177
8        8  정근우      외야수  우투우타        부산고     172
9       25  최진행      외야수  우투우타      덕수정보고     188

In [15]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES(?,?,?,?,?,?)'

for i in range(10):
    cur.execute(sql, (int(players.iloc[i,0]), 
                     players.iloc[i, 1], 
                     players.iloc[i, 2], 
                     players.iloc[i, 3], 
                     players.iloc[i, 4], 
                     int(players.iloc[i,5])))
    
conn.commit()

* 데이터 조회

In [17]:
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')

for row in cur:
    print(row)

(30, '호잉', '외야수', None, None, None)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

In [18]:
# 단건 조회
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone()
print(row)

(30, '호잉', '외야수', None, None, None)

In [19]:
# 다건 조회
rows = cur.fetchmany(2)
for row in rows:
    print(row)

(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)

In [21]:
# 필요한 것만...
cur =conn.cursor()
cur.execute('SELECT name FROM Eagles WHERE back_no > 30')
rows = cur.fetchall()
for row in rows:
    print(row)

('장민재',)
('안영명',)
('정은원',)
('이성열',)
('김태균',)

In [22]:
# 조회 조건
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles WHERE position like "내야수"')
rows = cur.fetchall()
for row in rows:
    print(row)

(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)

In [23]:
# 정렬
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER BY height DESC')
rows = cur.fetchall()
for row in rows:
    print(row)

(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(30, '호잉', '외야수', None, None, None)

In [24]:
# 원하는 순서, 갯수
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles ORDER BY height DESC LIMIT 5')
rows = cur.fetchall()
for row in rows:
    print(row)

(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(7, '송광민', '내야수', '우투우타', '공주고', 184)

In [25]:
cur.execute('SELECT count(*) FROM Eagles')
count = cur.fetchone()
print(count)

(11,)

In [28]:
# 그룹핑, 집계함수
cur = conn.cursor()
cur.execute('SELECT position, count(*), avg(height) FROM Eagles GROUP BY position')
rows = cur.fetchall();
for row in rows:
    print(row)

('내야수', 4, 182.75)
('외야수', 3, 180.0)
('투수', 3, 182.66666666666666)
('포수', 1, 178.0)

In [27]:
cur = conn.cursor()
back_no = 50
cur.execute('SELECT * FROM Eagles WHERE back_no=?;', (back_no,))
player = cur.fetchone()
print(player)

(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)

In [39]:
cur = conn.cursor()
position = '내야수'
height = 180
cur.execute('SELECT * FROM Eagles WHERE position like ? and height > ?;', (position,height))
players = cur.fetchall()

for player in players:
    print(player)

(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)

* 데이터 변경

In [33]:
cur = conn.cursor()
cur.execute("UPDATE Eagles SET hands='우투좌타', highschool='몰라',height=190 WHERE back_no=30;")

conn.commit()

* 데이터 삭제

In [34]:
cur = conn.cursor()
cur.execute('DELETE FROM Eagles WHERE back_no=1;')
conn.commit()

# Table Join

In [35]:

cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Stats \
    (id INT NOT NULL, \
     player TEXT, \
     average REAL, \
     rbi INT, \
     homerun INT, \
     PRIMARY KEY(id));')

In [36]:
stats = pd.read_csv('data/stats.csv', encoding='EUC-KR')
stats

  player  average  rbi  homerun
0     호잉    0.288   58       15
1    양성우    0.176    6        1
2    최재훈    0.300   23        2
3    김태균    0.308   43        5
4    송광민    0.257   39        6
5    이성열    0.255   62       18
6    정은원    0.281   47        5
7    정근우    0.219   10        2
8    최진행    0.184   14        3

In [41]:
cur = conn.cursor()
sql = 'INSERT INTO stats VALUES(?,?,?,?,?)'

for i in range(9):
    cur.execute(sql, (i+1, 
                     stats.iloc[i,0],
                     float(stats.iloc[i,1]),
                      int(stats.iloc[i,2]),
                      int(stats.iloc[i,3])                     
                     ))
    
conn.commit()

In [43]:
cur = conn.cursor()
cur.execute('SELECT * FROM Stats')
for row in cur:
    print(row)

(1, '호잉', 0.28800000000000003, 58, 15)
(2, '양성우', 0.17600000000000002, 6, 1)
(3, '최재훈', 0.3, 23, 2)
(4, '김태균', 0.308, 43, 5)
(5, '송광민', 0.257, 39, 6)
(6, '이성열', 0.255, 62, 18)
(7, '정은원', 0.281, 47, 5)
(8, '정근우', 0.21899999999999997, 10, 2)
(9, '최진행', 0.184, 14, 3)

In [44]:
# JOIN 조건 --> ON 뒤에....

sql = 'SELECT Eagles.back_no, Eagles.name, Eagles.position, \
            Stats.average, Stats.rbi, Stats.homerun \
            FROM Eagles JOIN Stats \
            ON Eagles.name like Stats.player'

cur = conn.cursor()
cur.execute(sql)
for row in cur:
    print(row)

(30, '호잉', '외야수', 0.28800000000000003, 58, 15)
(13, '최재훈', '포수', 0.3, 23, 2)
(52, '김태균', '내야수', 0.308, 43, 5)
(7, '송광민', '내야수', 0.257, 39, 6)
(50, '이성열', '내야수', 0.255, 62, 18)
(43, '정은원', '내야수', 0.281, 47, 5)
(8, '정근우', '외야수', 0.21899999999999997, 10, 2)
(25, '최진행', '외야수', 0.184, 14, 3)

In [46]:
sql = 'SELECT e.back_no, e.name, e.position, \
            s.average, s.rbi, s.homerun \
            FROM Eagles AS e JOIN Stats AS s \
            ON e.name like s.player'

cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall()
columnName = ['등번호', '선수명', '포지션', '타율', '타점', '홈런']
eagles_df = pd.DataFrame(columns=columnName)

for row in rows:
    eagles_df = eagles_df.append(pd.DataFrame([list(row)], columns=columnName), ignore_index=True)
    
eagles_df

  등번호  선수명  포지션     타율  타점  홈런
0  30   호잉  외야수  0.288  58  15
1  13  최재훈   포수  0.300  23   2
2  52  김태균  내야수  0.308  43   5
3   7  송광민  내야수  0.257  39   6
4  50  이성열  내야수  0.255  62  18
5  43  정은원  내야수  0.281  47   5
6   8  정근우  외야수  0.219  10   2
7  25  최진행  외야수  0.184  14   3

In [47]:
conn.close()