# SQLite Excercise

### 1.  국내의 대표적인 걸그룹 또는 보이그룹 5개 이상에 대하여 다음과 같은 정보를 갖는 테이블을 만드시오. *는 Primary Key

* id(*), group_name, 구성원 수, 데뷔일자, 소속사

In [14]:
import sqlite3

In [15]:
conn = sqlite3.connect('./ex.db')

In [16]:
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS SINGERS \
                (id INT NOT NULL, \
                group_name TEXT, \
                member_no INT, \
                debut TEXT, \
                company TEXT, \
                PRIMARY KEY(id))" )

In [17]:
conn.commit()

In [18]:
import pandas as pd
singers = pd.read_csv('data/singers.csv', encoding='EUC-KR')
singers

    name  member_no       debut company
0  방탄소년단          7  2013-06-13  빅히트 엔터
1    마마무          4  2014-06-19     RBW
2   우주소녀         13  2016-02-25  스타쉽 엔터
3    블락비          7  2011-04-15   KQ 엔터
4     엑소          9  2012-04-08   SM 엔터
5   트와이스          9  2015-10-20  JYP 엔터

In [22]:
cur = conn.cursor()
sql = "INSERT INTO singers VALUES(?,?,?,?,?);"

for i in range(5):
    cur.execute(sql, (int(i + 1), 
                        singers.iloc[i,0], # name
                        int(singers.iloc[i,1]), # member_no
                        singers.iloc[i,2], # debut
                        singers.iloc[i,3]  # company
               ))
    
conn.commit()

### 2.  이들이 불렀던 노래 또는 다른 사람이 불렀던 노래 10곡 이상에 대하여 다음의 정보를 갖는 테이블을 만드시오.
* song_id(*), song_name, 그룹 id, 발표년도, 작곡가, 도입부 가사

In [57]:
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS SONGS \
                (song_id INT NOT NULL, \
                song TEXT, \
                gid INT, \
                year INT, \
                composer TEXT, \
                lyrics TEXT,\
                PRIMARY KEY(song_id))" )

conn.commit()

In [58]:
songs = pd.read_csv('data/songs.csv', encoding='EUC-KR')
songs

,song,gid,year,composer,lyrics
0,작은 것들을 위한 시,1,2019,Pdogg 외,모든 게 궁금해 How’s your day
1,FAKE LOVE,1,2018,Pdogg 외,널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어
2,넌 is 뭔들,2,2016,김도훈 외,Hey 거기 미소가 예쁜 남자 바로 너
3,음오아예 (Um Oh Ah Yeh),2,2015,김도훈,oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아
4,HER,4,2014,지코 외,Jesus 무슨 말이 필요해 모두 널 작품이라고 불러
5,으르렁,5,2013,신혁 외,나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대
6,MAMA,5,2012,유영진,Careless careless Shoot anonymous anonymous
7,CHEER UP,6,2016,블랙아이드필승 외,CHEER UP BABY CHEER UP BABY 좀 더 힘을 내
8,TT,6,2016,블랙아이드필승 외,이런 내 맘 모르고 너무해 너무해
9,빨간 맛,11,2017,Ludwig Lindell 외,빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛

In [59]:
cur = conn.cursor()
song_sql = 'INSERT INTO songs VALUES(?,?,?,?,?,?);'
for i in range(10):
    cur.execute(song_sql, (int(i + 1), 
                        songs.iloc[i,0], # song
                        int(songs.iloc[i,1]), # gid
                        int(songs.iloc[i,2]), # year
                        songs.iloc[i,3], # composer
                        songs.iloc[i,4]  # lyrics 
                     ))
    
conn.commit()

In [60]:
print('gid: ',songs.iloc[i,1])
print('year:', songs.iloc[i,2])

gid:  11
year: 2017

### 3. 위 두개의 테이블을 조인한 결과를 가지고 다음의 필드를 갖는 데이터 프레임을 만드시오.
* 그룹 이름, 구성원 수, 데뷔 일자, 노래 이름, 발표 년도

In [61]:
cur = conn.cursor()
join_sql = "SELECT si.group_name, si.member_no, si.debut, so.song, so.year \
                FROM singers AS si JOIN songs AS so\
                ON si.id like so.gid;"
cur.execute(join_sql)
rows = cur.fetchall()
columnName = ['그룹 이름', '구성원 수', '데뷔 일자', '노래 이름', '발표 년도']
song_df = pd.DataFrame(columns=columnName)

for row in rows:
    song_df = song_df.append(pd.DataFrame([list(row)], columns=columnName), ignore_index=True)
    
song_df

,그룹 이름,구성원 수,데뷔 일자,노래 이름,발표 년도
0,방탄소년단,b'\x07\x00\x00\x00\x00\x00\x00\x00',2013-06-13,작은 것들을 위한 시,2019
1,방탄소년단,b'\x07\x00\x00\x00\x00\x00\x00\x00',2013-06-13,FAKE LOVE,2018
2,마마무,b'\x04\x00\x00\x00\x00\x00\x00\x00',2014-06-19,넌 is 뭔들,2016
3,마마무,b'\x04\x00\x00\x00\x00\x00\x00\x00',2014-06-19,음오아예 (Um Oh Ah Yeh),2015
4,블락비,b'\x07\x00\x00\x00\x00\x00\x00\x00',2011-04-15,HER,2014
5,엑소,b'\t\x00\x00\x00\x00\x00\x00\x00',2012-04-08,으르렁,2013
6,엑소,b'\t\x00\x00\x00\x00\x00\x00\x00',2012-04-08,MAMA,2012