# 네이버 영화평(알라딘)에 나온 형태소 SQLite DB에 저장
* 영화평에 나온 형태소 추출
* Okt 형태소 분석
* 형태소, 품사, 나온횟수 DB에 저장하기

In [57]:
import numpy as np
import pandas as pd
import sqlite3

In [58]:
df = pd.read_excel('data/04.NaverMovie_Aladdin.xlsx')
df.drop(df.columns[0], axis='columns', inplace=True)
df.head()

   point                                             review              date
0     10                 윌 스미스가 하드캐리하여 의도치 않게 원작을 뛰어넘은 실사영화  2019.05.23 11:26
1     10  영화가 너무 아름답다..ost도 잊혀지지 안고 디즈니 실사중에서 최고중에 최고다 쟈...  2019.05.23 09:11
2     10  존잼임... 난 처음 도입부에 아~라~비안 나~잇 이 부분에서부터 감동받아서 울 뻔...  2019.05.23 21:57
3     10     자스민의 speechless 명장면이고 덤으로 윌 스미스의 연기력 또한 매우 굿~~  2019.05.23 12:55
4     10                      A whole new world 나올때때 개소름...  2019.05.23 09:06

In [6]:
reviews = df['review']
reviews.shape

(26440,)

In [8]:
conn = sqlite3.connect('./movie.db')
cur = conn.cursor()

In [9]:
cur.execute('create table if not exists movie_reviews \
    (word TEXT, \
    pos TEXT, \
    count INT, \
    PRIMARY KEY(word, pos));')

In [10]:
from konlpy.tag import Okt
okt = Okt()

C:\Users\EZEN\Anaconda3\lib\site-packages\jpype\_core.py:210: UserWarning:
-------------------------------------------------------------------------------
Deprecated: convertStrings was not specified when starting the JVM. The default
behavior in JPype will be False starting in JPype 0.8. The recommended setting
for new code is convertStrings=False.  The legacy value of True was assumed for
this session. If you are a user of an application that reported this warning,
please file a ticket with the developer.
-------------------------------------------------------------------------------

  """)

In [24]:
morphs = okt.pos(str(reviews[0]))
morphs

[('윌', 'Noun'),
 ('스미스', 'Noun'),
 ('가', 'Josa'),
 ('하드캐리', 'Noun'),
 ('하여', 'Verb'),
 ('의도', 'Noun'),
 ('치', 'Noun'),
 ('않게', 'Verb'),
 ('원작', 'Noun'),
 ('을', 'Josa'),
 ('뛰어넘은', 'Verb'),
 ('실사영화', 'Noun')]

In [25]:
# 테스트 데이터 입력
cur.execute("INSERT INTO Movie_reviews VALUES('윌', 'Noun', 1);")
conn.commit()

IntegrityError: UNIQUE constraint failed: movie_reviews.word, movie_reviews.pos

In [26]:
sql = 'select count from movie_reviews where word like ? and pos like ?;'
cur.execute(sql, ('윌', 'Noun'))
count, = cur.fetchone()
print(count)

1

In [28]:
cur.execute("DELETE FROM Movie_reviews WHERE word like '윌';")
conn.commit()

In [ ]:
def countMorph(word, pos):    
    count = 0
    try:
        cur = conn.cursor()
        sql = "SELECT count FROM Movie_reviews WHERE word like ? and pos like ?"
        cur.execute(sql, (word, pos))
        count, = cur.fetchone()
    except TypeError as te:
        count = 0
    except Exception as e: 
        print('예외가 발생했습니다.', e)
        count = -1
    finally:
        return count

In [ ]:
# print(countMorph('윌', 'Noun'))
# print(countMorph('원작', 'Noun'))
# x = ('윌', 'Noun')
# countMorph = (*x)

In [ ]:
print(countMorph('윌', 'Noun'))
print(countMorph('원작', 'Noun'))
x = ('윌', 'Noun')
countMorph(*x)

In [ ]:
def insertMorph(word, pos, count):
    cur = conn.cursor()
    sql = "INSERT INTO Movie_reviews VALUES(?, ?, ?);"
    cur.execute(sql, (word, pos, count))
    conn.commit()

In [ ]:
insertMorph(*x, 1)

In [ ]:
def updateMorph(word, pos, count):
    cur = conn.cursor()
    sql = "UPDATE Movie_reviews SET count=? WHERE word like ? and pos like ?;"
    cur.execute(sql, (count, word, pos))
    conn.commit()

In [ ]:
updateMorph(*x, 2)

In [ ]:
i = 1
for review in reviews:
    if i % 1000 == 0:
        print(i, end=' ')
    i += 1
    morphs = okt.pos(str(review))
    for morph in morphs:
        if morph[1] in ["Josa", "Eomi", "Punctuation"]:
            continue
        count = countMorph(*morph)     # Unpacking
        if count == 0:                 # 신규 등록
            insertMorph(*morph, 1)
        elif count > 0:                # count update
            updateMorph(*morph, count+1)
        else:
            print('DB Error!!!')